<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Touchscreen Favoriten</title>
</head>
<body>
    <div class="header">
        <h3>CoffITI</h3>
    </div>

    <div class="wrapper"> 
        <h2>Wähle deinen personalisierten <br> Kaffee</h1>
        <p clas="info_p">stelle dabei sicher, dass dein NFC Chip auf dem Scanner liegt</p>

        <button class="option_button" onclick="sendeAuswahl('Funkensprüh')">Funkensprüh</button>
        <button class="option_button" onclick="sendeAuswahl('Deathstick')">Deathstick</button>
        <button class="option_button" onclick="sendeAuswahl('Todesstark')">Todesstark</button>
        <button class="option_button" onclick="sendeAuswahl('Hibbelig')">Hibbelig</button>

    </div>

    <div class="footer">
        <ul>
            <li><a href="index.html">Auswahl</a></li>
            <li><a class="buttonhelper" href="favourites.html">Favoriten</a></li>
            <li><a href="statistik.html">Statistik</a></li>
        </ul>
        <div class="chip"></div>
        <p class="username" id="username"></p>
    </div>



    <script>
        async function sendeAuswahl(element) {
            const response = await fetch('/interaktion', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ element })
            });

            const result = await response.json();
            const info = document.getElementById('info');

            if (result.status === "ok") {
                info.textContent = `Auswahl gespeichert (Chip ${result.chip_id})`;
            } else {
                info.textContent = `⚠️ ${result.grund}`;
            }
        }
    </script>
</body>
</html>
